<mat-toolbar>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    <span>Yu-Gi-Oh! Strategies</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item>Registrarse</button>
        <button mat-menu-item>Iniciar Sesión</button>
        <button mat-menu-item>Cerrar Sesión</button>
    </mat-menu>

</mat-toolbar>