<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="col-lg-4">
            <p>Esta es una pagina sin fines de lucro. La propiedad intelectual de la franquicia 'Yu-Gi-Oh!' pertenece a Konami</p>
            <br>
            <p>Todos los derechos y propiedades reservados para ellos</p>
        </div>
        <div class="col-lg-4">
            <img src="../../../../../assets/Yugioh_anime_logo.webp" alt="yugioh_logo">
        </div>
        <div class="col-lg-4">
            
        </div>
    </div>
</nav>
  