
img{
    width: 890px;
    height: 500px;
}

/* img {
    border-radius: var(--bs-border-radius) !important;
    width: 100% !important;
    display: block !important;
    object-fit: scale-down;
    padding: 0px;
} */


#carouselExample{
    justify-content: center;
    display: flex;
}


.carousel-control-prev-icon,.carousel-control-next-icon{
    filter: invert(23%) sepia(11%) saturate(3492%) hue-rotate(156deg) brightness(93%) contrast(95%);
}